In [1]:
import pandas as pd
from collections import Counter

In [2]:
#train = pd.read_csv("./clean_data/train.csv")
#test = pd.read_csv("./clean_data/test.csv")
all_df = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",delimiter=';')

In [3]:
all_df.head()
all_df['num_browse'] = all_df.groupby('userCode')['project_id'].transform('count')
all_df = all_df[(all_df['num_browse']<200)]
all_df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour,num_browse
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,3
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,3
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0,1
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0,1
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0,2

In [18]:
main = pd.read_csv('./clean_data/proj.csv')
main.head()

,project_id,developer_id,brand_id,district_id,province_id,lat,lon,percent_car_parking,starting_price,highest_price,...,clickedUser,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_count,macintosh_count,beenClicked
0,44,140786,0.0,1046.0,10,13.891719,100.722099,NaN,3500000.0,3862000.0,...,297.0,251.0,181.0,139.0,151.0,103.0,7.0,19.0,13.0,1.0
1,24,1032,0.0,1046.0,10,13.876590,100.731927,NaN,4590000.0,7344000.0,...,27.0,22.0,15.0,14.0,12.0,10.0,1.0,0.0,0.0,1.0
2,161,11066,0.0,1101.0,11,13.543841,100.656302,NaN,912400.0,1300480.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,73,779,0.0,1301.0,13,13.975707,100.580670,NaN,3800000.0,6080000.0,...,154.0,124.0,99.0,91.0,63.0,55.0,7.0,6.0,1.0,1.0
4,219,818,5.0,1103.0,11,13.716203,100.725815,NaN,5000000.0,8000000.0,...,190.0,162.0,128.0,99.0,73.0,86.0,6.0,7.0,19.0,1.0

In [13]:
all_df = all_df.merge(main[['project_id','district_id','starting_price_range']],on='project_id')

## Predict

In [19]:
# Predict all
users = pd.read_csv("./clean_data/test_before_021718_700row.csv")
#users = pd.read_csv("./data/200_users.csv")
#users['project_id'] = "5858 3738 4201 5452 5678 5764 5067"
#users['project_id'] = "9483 9271 9368 6511 9147 5858 3738"
#users.to_csv("./clean_data/submission_big.csv",index=False)

## Super rule based

In [ ]:
# i = 'Log_starting_price'
# import numpy as np
# import matplotlib.pyplot as plt
# # Log Transform
# main[i] = np.log(main['starting_price'])

# q75, q50, q25 = np.percentile(main.Log_starting_price.dropna(), [75 ,50, 25])

# min = q25
# mid = q50
# max = q75

# plt.figure(figsize=(10,8))
# plt.subplot(211)
# plt.xlim(main[i].min(), main[i].max()*1.1)
# plt.axvline(x=min)
# plt.axvline(x=mid)
# plt.axvline(x=max)

# ax = main[i].plot(kind='kde')

# main['starting_price_range'] = 0

# main.loc[main[i] < min, 'starting_price_range'] = 0
# main.loc[((main[i] > min) & (main[i] < mid)), 'starting_price_range'] = 1
# main.loc[((main[i] > mid) & (main[i] < max)), 'starting_price_range'] = 2
# main.loc[main[i] > max, 'starting_price_range'] = 3

# main = main.drop(['starting_price',i], axis = 1)
# main['starting_price_range'].fillna(-1,inplace=True)
# main.head()

In [21]:
all_df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour,num_browse,district_id,starting_price_range
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,3,1201.0,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,3,1201.0,0
2,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,3,1201.0,0
3,720570c4-e9d0-8551-913e-79c9ce03be4a,7956,Desktop,Windows,HomeWebsite,2018,1,2,19,12,1201.0,0
4,3b203464-b19e-aa96-6019-4e4c1266a7b7,7956,Mobile,Android,Google,2018,1,2,22,2,1201.0,0

In [22]:
%%time
print("Starting")
user_mode_proj = all_df.groupby("userCode").agg({"project_id":lambda x: list(x)})['project_id'].apply(lambda x: Counter(x).most_common(1)[0][0]).reset_index()
print("HERE")
user_mode_proj = user_mode_proj.merge(main,on='project_id')[['userCode','lat','lon','district_id','starting_price_range']]
print("END")

Starting
HERE
END
CPU times: user 2min 2s, sys: 3.83 s, total: 2min 6s
Wall time: 2min 18s

In [23]:
# Location
#main = pd.read_csv("./data/project_main.csv",sep=';')
#users.merge(main,on='userCode')
user_mode_proj = user_mode_proj[['userCode','district_id','starting_price_range']]

In [24]:
user_district_mode = users.merge(user_mode_proj,on='userCode')

In [25]:
district_id = (list(user_mode_proj.query("userCode=='%s'"%userCode)['district_id']))
    
oldList = list(all_df[all_df['userCode']==userCode]['project_id'].values)

In [26]:
user_mode_proj['starting_price_range'].value_counts()

1    153087
2    137851
0    105611
3     84522
Name: starting_price_range, dtype: int64

In [ ]:
%%time
def getUserRecommend(userCode):
    district_id = list(user_mode_proj.query("userCode=='%s'"%userCode)['district_id'])
    price_range = list(user_mode_proj.query("userCode=='%s'"%userCode)['starting_price_range'])
    

    oldList = set(all_df[all_df['userCode']==userCode]['project_id'].values)

    if len(district_id)==0: 
        return "5858 3738 4201 5452 5678 5764 5067"
    else:
        possible_projs = all_df.query("district_id=='%s' & starting_price_range==%d"%(district_id[0],price_range[0]))['project_id'].value_counts()[:10+len(oldList)].index
        returning = [str(p) for p in possible_projs if p not in oldList][:7]
        if len(returning) < 7:
            possible_projs2 = all_df.query("district_id=='%s' & starting_price_range!=%d"%(district_id[0],price_range[0]))['project_id'].value_counts()[:10+len(oldList)].index
            returning2 = [str(p) for p in possible_projs2 if p not in oldList][:7]
            returning.extend(returning2)
        
        if len(returning) < 7 :
            returning.extend("5858 3738 4201 5452 5678 5764 5067".split(" "))                
        return " ".join(returning[:7])
    
users['project_id'] = users.userCode.apply(getUserRecommend)
#users.to_csv("./submission/rule_based_v3.csv",index=False)

In [ ]:
users.to_csv("./submission/rule_based_v3_ontest_700.csv",index=False)

In [ ]:
users.shape